CMakeLists.txt.user
Examples/Monocular/mono_euroc
Examples/Monocular/mono_kitti
Examples/Monocular/mono_tum
Examples/RGB-D/rgbd_tum
Examples/ROS/ORB_SLAM2/CMakeLists.txt.user
Examples/ROS/ORB_SLAM2/Mono
Examples/ROS/ORB_SLAM2/MonoAR
Examples/ROS/ORB_SLAM2/RGBD
Examples/ROS/ORB_SLAM2/Stereo
Examples/ROS/ORB_SLAM2/build/
Examples/Stereo/stereo_euroc
Examples/Stereo/stereo_kitti
KeyFrameTrajectory.txt
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/
Vocabulary/ORBvoc.txt
Vocabulary/bin_vocabulary
build/
tmp_result/
*~
lib/
.idea/

**/build/*
**/lib/*
*.kdev4
**/KeyFrameTrajectory.txt
**/KeyFrameNavStateTrajectory.txt
*.autosave
**/tmp/*
**/debug.txt
**.tags
**.tags_sorted_by_file
**/build*/*
**/tmp_result/*
.tags
.tags_sorted_by_file




tmp_result/mono_VI/gw.txt
.vscode/launch.json
tmp_result/mono_VI/biasa.txt
tmp_result/mono_VI/biasg.txt
tmp_result/mono_VI/condnum.txt
tmp_result/mono_VI/scale.txt
Examples/Stereo/stereo_euroc_VI
Examples/Monocular/mono_euroc_VI
.vscode/ipch/2f58cca724ea4636/mmap_address.bin
*.bin
*.ipch